header > .sidebar-fixed.position-fixed > .list-group-flush > a.adm-profile {
  background: #A978B5;
  color: #fff;
  border-radius: 5px;
}
.adm-data > h2,
.adm-features > h2 {
  color: #6C3075;
  text-align: center;
  margin-bottom: 30px;
}
.adm-data h4,
.adm-data h6 {
  color: #6C3075;
}
.adm-data input {
  float: right;
  color: #6C3075;
	width: 400px;
	height: 25px;
	font-size: 20px;
	text-align: center;
  border-radius: 7px;
}
.adm-features li {
  list-style-type: none;
  font-size: 1.3em;
  padding: 12px;
}
.adm-features li > a {
  color: #6C3075;
}
.adm-features li > a:hover{
  color: darkblue;
}
a#no-realize {
  color: rgb(202, 145, 211);
}