.welcome {
	background: url(../img/flowers_bg.jpg) center/cover;
	padding-top: 100px;
	padding-bottom: 20px;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: bold;
	color: #964260;
  text-shadow: 1px 1px 2px #3A1624, 0 0 1em #fff;
}

.welcome:after {
	content: '';
	/* position: absolute; */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(249,172,229,0.1);
}

.ava > img {
  border-radius: 10px;
	border: 5px solid #fff;
}

.name,
.welcome > .container > h1,
.progress_calendar > h1,
.dop > h2 {
	font-size: 68px;
	text-transform: uppercase;
	font-weight: bold;
	color: #964260;
}
.progress_calendar > h1 {
	font-size: 32px;
}
.dop > h2 {
	font-size: 28px;
}
.progress_calendar > p,
.dop > p {
	font-size: 18px;
	color: #964260;
}

.welcome > .container > h1 {
	font-size: 32px;
	text-align: center;
}
.user_nav > img {
  height: 45px;
  border-radius: 10px;
}
.user_nav {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  position: absolute;
  left: 88%;
  transform: translateX(-50%);
}
.wrapper-dropdown {
  /* Size &amp; position */
  position: relative;
  width: 200px;
  margin: 0 15px;
  padding: 12px 15px;

  /* Styles */
  color: #6C3075;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.wrapper-dropdown:after { /* Little arrow */
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  margin-left: 15px;
  float: right;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #6C3075 transparent;
}

.wrapper-dropdown .dropdown {
  /* Size &amp; position */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 200px;

  /* Styles */
  border-radius: 0 0 5px 5px;
  border: 1px solid rgba(0,0,0,0.2);
  border-top: none;
  border-bottom: none;
  list-style: none;
  transition: all 0.3s ease-out;

  /* Hiding */
  max-height: 0;
  overflow: hidden;
}
.wrapper-dropdown .dropdown li {
  padding: 0;
  width: 200px;
}
.wrapper-dropdown .dropdown li a {
  display: block;
  text-decoration: none;
  color: #964260;
  padding: 10px 0;
  transition: all 0.3s ease-out;
  border-bottom: 1px solid #fff;
}

.wrapper-dropdown .dropdown li:last-of-type a {
  border: none;
}

.wrapper-dropdown .dropdown li i {
  margin-right: 5px;
  color: inherit;
  vertical-align: middle;
}

/* Active state */

.wrapper-dropdown.active {
    border-radius: 5px 5px 0 0;
    background: #A978B5;
    box-shadow: none;
    border-bottom: none;
    color: #fff;
}

.wrapper-dropdown.active:after {
    border-color: #fff transparent;
}

.wrapper-dropdown.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}

.user_nav ul {
  list-style-type: none; /* Removes the bullets */
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DEC6E0; /**/
}

.user_nav li {
	display: inline-block;
	vertical-align: top;
}

.user_nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.user_nav li a:hover {
	background-color: #D2A2DD;
}

.main-container {
  padding: 20px 50px 20px;
  width: 920px;
  background-color: #F9D7F2;
	font-size: 22px;
}
.err {
	text-align: center;
	font-size: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.col-md > .btn.btn-success.w-100 {
	background-color: #96425fc0;
}
.col-md > .btn.btn-success.w-100:hover {
	background-color: #aa5673ab;
}

.main-container > h4, h6 {
  color: #6C3075;
  font-family: "Monotype Corsiva" Cursive;
  font-style: oblique;
}
.lang > span {
	color: #6C3075;
  font-family: "Monotype Corsiva" Cursive;
  font-style: oblique;
	font-size: 27px;
}

.main-container > h4 > input,
.main-container > h6 > input,
.lang > .langInput {
	float: right;
  color: #6C3075;
  font-family: "Monotype Corsiva" Cursive;
  font-style: oblique;
	width: 400px;
	height: 25px;
	font-size: 20px;
	text-align: center;
}
.progress_calendar,
.dop {
	background-color: #fff;
	margin: 15px 12%;
	padding: 18px;
	text-align: center;
}
.dop a {
	color: #8856aaab;
	font-size: 1.1em;
	font-style: italic;
}
.dop a:hover {
	color: #7B68EE;
	font-style: normal;
}
