@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic');

.task_num, .lesson_num {
	background: url(../img/flowers_bg.jpg) center/cover;
	padding-top: 100px;
	padding-bottom: 20px;
  text-align: center;
}
.level, .lesson, .task {
  font-size: 50px;
	text-transform: uppercase;
	font-weight: bold;
	color: #964260;
  text-shadow: 1px 1px 2px #3A1624, 0 0 1em #fff;
}
.level {
  font-size: 32px;
}
.lesson {
  font-size: 26px;
}
.main-container {
  padding: 0px 50px 20px;
  width: 920px;
  background-color: rgb(253, 241, 251);
}
.header {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #A978B5;
}
.main_text {
  color: #6C3075;
  font-family: "Monotype Corsiva" Cursive;
  font-style: oblique;
}
.img {
	border: 2px solid white;
	align: center;
}
.fig {
	text-align: center;
	color: #A978B5;
  font-family: "Monotype Corsiva" Cursive;
  font-style: oblique;
	font-size: 1em;
}
.res-container {
  border: 3px dashed #fff;
  background-color: #E2BADB;
  display: none;
}
#codeeditor {
	border: 2px solid #A978B5;
	border-radius: 3px;
	margin-bottom: 10px;
}

.tables-cpk {
	font-size: 16px;
}
.task-table > tbody {
    display:block;
    max-height:200px;
    overflow-y:auto;
		font-size: 16px;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
	background: #A978B5;
	color: #fff;
}
.tab-header {
	text-align: center;
	color: #A978B5;
}

p.to-task {
	border: 3px dashed #fff;
  background-color: #E2BADB;
	padding: 20px;
	margin: 40px 0;
}
a.to-task {
	color: #8856aaab;
	font-size: 1.1em;
	font-style: italic;
}
a.to-task:hover {
	color: #7B68EE;
	font-style: normal;
}

.no-next {
	cursor: not-allowed!important;
}

/* Lessons code */

pre.line-numbers {
	padding-left: 3.8em;
}
pre[class*=language-] {
	border-radius: 5px;
	font-size: 1rem;
  background: rgb(252, 234, 247);
  border: 0 solid #A978B5;
	position: relative;
	padding: 15px;
  font-family: consolas,monaco,"Andale Mono",monospace;
  font-style: normal;
  font-weight: 400;
  line-height: 92%;
  overflow: auto;
  direction: ltr!important;
  text-align: left!important;
  border-left-width: 5px!important;
  border-right-width: 0!important;
}
.line-numbers .line-numbers-rows {
	position: absolute;
	top: 2px;
	line-height: 0.8;
	left: -3.8em;
	pointer-events: none;
	font-size: 110%;
	border-right: 1px solid #6C3075;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.line-numbers-rows > span {
	pointer-events: none;
	display: block;
	counter-increment: linenumber;
}
.line-numbers-rows > span:before {
	content: counter(linenumber);
	color: #A978B5;
	display: block;
	padding-right: .8em;
	text-align: right;
}
span.token {
	font-size: 1.3em;
}
span.token.keyword {
	color: rgb(172, 101, 179);
}
span.token.name-var {
	color: #6C3075;
}
span.token.operator {
	color: #7B68EE;
}
span.token.number {
	color: #964260
}
span.token.punctuation {
	color: #A978B5;
}
.underline {
	text-decoration: underline;
}

/* Main lessons */
ul.main_text {
	list-style: none;
}
ul.main_text > li > a {
	color: #A978B5;
	line-height: 250%;
}
ul.main_text > li > a:hover {
	color: #6C3075;
	font-style: normal;
	font-size: 1.1em;
}
ul.main_text > li.other_less > a {
	color: #E2BADB;
}
ul.main_text > li.other_less > a:hover {
	color: #E2BADB;
	font-style: italic;
	font-size: 1em;
	text-decoration: none;
	cursor: not-allowed;
}
