<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Профиль администратора</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="../../css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="../../css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="../../css/admin_main.css" rel="stylesheet">
  <link href="../../css/admin_toolbar.css" rel="stylesheet">
  <!-- Для иконок -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body class="pink lighten-5">
<% include ./../blocks/header_admin.ejs %>
  <main class="pt-5 mx-lg-5">

    <div class="row wow fadeIn mt-5">
      <div class="col-md-9 mb-4">
        <div class="card">
          <div class="card-body">
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
          <div class="card mb-2">
            <div class="card-body pieCh">
              <canvas class="pieCanv" id="pieChart"></canvas>
            </div>
          </div>
          <div class="card mt-5">
            <div class="card-body">
              <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action waves-effect">
                  Зарегистировано пользователей системы:
                  <span class="badge badge-danger badge-pill pull-right">23 человека<i class="fa fa-arrow-up ml-1"></i></span>
                </a>
              </div>
              <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action waves-effect">
                  Удалено пользователей из системы:
                  <span class="badge badge-primary badge-pill pull-right">4 человека<i class="fa fa-arrow-down ml-1"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="row wow fadeIn">
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h3>Пользователи системы (студенты)</h3>
            <table class="table table-hover min-user-table">
              <thead class="pink lighten-4">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Имя</th>
                  <th scope="col">Фамилия</th>
                  <th scope="col">E-mail</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td scope="row">1</td>
                    <td>Маша</td>
                    <td>Шорохова</td>
                    <td>masha@mail.ru</td>
                  </tr>
                  <tr>
                    <td scope="row">2</td>
                    <td>Петя</td>
                    <td>Горохов</td>
                    <td>petya@gmail.com</td>
                  </tr>
                  <tr>
                    <td scope="row">3</td>
                    <td>Анна</td>
                    <td>Любимова</td>
                    <td>anny555@gmail.com</td>
                  </tr>
                  <tr>
                    <td scope="row">4</td>
                    <td>Олег</td>
                    <td>Григорьев</td>
                    <td>grigoriev777@gmail.com</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
          <div class="card">
            <div class="card-body">
                <h3>Администраторы (преподаватели)</h3>
              <table class="table table-hover">
                <thead class="blue lighten-4">
                  <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Имя</th>
                  <th scope="col">Фамилия</th>
                  <th scope="col">E-mail</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td scope="row">1</td>
                    <td>Ирина</td>
                    <td>Соболева</td>
                    <td>irka_lala@mail.ru</td>
                  </tr>
                  <tr>
                    <td scope="row">2</td>
                    <td>Иван</td>
                    <td>Лебедев</td>
                    <td>vannyyyy@gmail.com</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
  </main>

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="../../js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../../js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../../js/mdb.js"></script>
  <script>
    new WOW().init();
  </script>
  <script type="text/javascript" src="../../js/admin_charts.js"></script>
  <script type="text/javascript" src="../../js/admin_main.js"></script>
</body>

</html>
