<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Профиль администратора</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="../../css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="../../css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="../../css/admin_main.css" rel="stylesheet">
  <link href="../../css/admin_table_users.css" rel="stylesheet">
  <!-- Для иконок -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body class="pink lighten-5">
<% include ./../blocks/header_admin.ejs %>
  <main class="pt-5 mx-lg-5">

    <div class="row wow fadeIn mt-5">
      <div class="col-md-12 mb-4">
        <div class="card">
          <div class="card-body">
            <h3>Все пользователи системы</h3>
            <table class="table table-hover table-users">
              <thead class="pink lighten-4">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Имя</th>
                  <th scope="col">Фамилия</th>
                  <th scope="col">Номер группы</th>
                  <th scope="col">Роль в системе</th>
                  <th scope="col">E-mail</th>
                  <th scope="col">Пароль</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td scope="row">1</td>
                    <td>Маша</td>
                    <td>Шорохова</td>
                    <td>454</td>
                    <td>Студент</td>
                    <td>masha@mail.ru</td>
                    <td>12345</td>
                    <td><button class="btn btn-about-user">Подробнее</button></td>
                  </tr>
                  <tr>
                    <td scope="row">2</td>
                    <td>Петя</td>
                    <td>Горохов</td>
                    <td>455</td>
                    <td>Студент</td>
                    <td>petya@gmail.com</td>
                    <td>qwerty</td>
                    <td><button class="btn btn-about-user">Подробнее</button></td>
                  </tr>
                  <tr>
                    <td scope="row">3</td>
                    <td>Анна</td>
                    <td>Любимова</td>
                    <td>565</td>
                    <td>Администратор</td>
                    <td>anny555@gmail.com</td>
                    <td>abc123</td>
                    <td><button class="btn btn-about-user">Подробнее</button></td>
                  </tr>
                  <tr>
                    <td scope="row">4</td>
                    <td>Олег</td>
                    <td>Григорьев</td>
                    <td>123</td>
                    <td>Администратор</td>
                    <td>grigoriev777@gmail.com</td>
                    <td>olegadmin</td>
                    <td><button class="btn btn-about-user">Подробнее</button></td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </main>

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="../../js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../../js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../../js/mdb.js"></script>
  <script>
    new WOW().init();
  </script>
  <script type="text/javascript" src="../../js/admin_main.js"></script>
  <script type="text/javascript" src="../../js/table_users.js"></script>
</body>

</html>
