<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/task_lesson.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/profile.css">

  <script src="../../js/jquery.js"></script>
  <script src="../../js/profile.js"></script>

  <title>Уровень 1 | Урок <%= lessonNum %></title>
</head>
<body>

<% include ../blocks/header_user.ejs %>

  <div class="container-fluid lesson_num">
    <div class="container">
      <div class="level">Уровень 1</div>
      <div class="lesson">Урок <%= lessonNum %></div>
    </div>
  </div>

  <div class="container main-container">
    <h3 class="header">Индексы пригодности процесса</h3>
    <p class="main_text">Существуют много методов оценки качества, однако как только производственный процесс становится
      управляемым, возникает следующий вопрос: "в какой степени долговременное поведение процесса удовлетворяет
      техническим условиям и целям, поставленным руководством?" Рассмотрим, как мы можем оценить пригодность процесса с
      помощью осмысленных показателей.</p>
    <p class="main_text">Итак, следует различать управляемый и неуправляемый процесс. Заметим, что нет смысла изучать
      пригодность производственного процесса, если он не управляем. Следовательно, первый шаг к организации
      высококачественного процесса производства состоит в том, чтобы сделать процесс управляемым.</p>
    <p class="main_text">Если процесс управляем, то можно ставить вопрос о его пригодности. В случае примера с поршневыми
      кольцами, заметим, что если дана выборка определенного объема, то можно оценить стандартное отклонение процесса,
      то есть сигма производства поршневых колец. Затем можно построить гистограмму распределения диаметров поршневых
      колец. Если распределение диаметров нормальное, то можно сделать выводы о доле поршневых колец, попадающих в границы
      допуска (смотри рисунок).</p>
    <figure class="fig">
      <img src="../../img/lesson/norm_rasp.jpg" alt="" style="width:60%" class="img">
      <figcaption>Нормальное распределение, границы допуска</figcaption>
    </figure>

    <h3 class="header">Индекс Cp</h3>
    <p class="main_text">Индекс Cp используется для оценки ширины разброса данных по сравнению с шириной установленных
      требований. Расчет индекса возможен и имеет смысл только в случае, если для процесса заданы верхние и нижние
      границы спецификаций.</p>
    <p class="main_text">Если Cp = 1, то ширина разброса процесса близка к ширине заданных требований, т.е. процесс может
      быть выровнен таким образом, что будет укладываться в рамки требований на уровне 3 сигм (большинство компаний
      стремятся к тому, чтобы индекс процессов Cp был не менее 1).</p>
      <figure class="fig">
        <img src="../../img/lesson/cp_pic1.png" alt="" style="width:40%" class="img">
      </figure>
    <p class="main_text">Если Cp > 1, то ширину процесса можно считать меньше ширины заданных требований, что несомненно
      говорит об эффективности процесса. Процесс соответствует требованиям, даже не смотря на некоторые колебания его
      среднего значения.</p>
    <p class="main_text">Индекс Cp, равный единице или больше обычно говрит о том, что проблем с большим разбросом данных нет.</p>
    <figure class="fig">
      <img src="../../img/lesson/cp_pic2.png" alt="" style="width:40%" class="img">
    </figure>
    <p class="main_text">Если Cp < 1, то ширина процесса (его разброс) довольно большой по сравнению с заданными требованиями
      и процесс заведомо не соответствует требованиям, как бы не изменялось его среднее значение. Индекс Cp < 1 говорит
      о необходимости сконцентрироваться на улучшениях процесса, связанных с уменьшением разброса/стандартного отклонения.</p>
    <figure class="fig">
      <img src="../../img/lesson/cp_pic3.png" alt="" style="width:40%" class="img">
    </figure>
    <p class="main_text">Для более полного анализа на ряду с индексом Cp, также рассчитывается индекс Cpk.</p>

    <h3 class="header">Индекс Cpk</h3>
    <p class="main_text">Индекс Cpk отображает то, насколько большое количество выпускаемой продукции находится за верхней
      или нижней границей требований в зависимости от того с какой стороны дефектов продукции больше. Чем больше значение
      Cpk, тем лучше процесс соответствует требованиям. Расчет индекса возможен и имеет смысл только в случае, если для
      процесса задан хотя бы один уровень спецификаций (верхняя или нижняя граница).</p>
    <p class="main_text">Если Cpk = 1, то процесс соответствует требованиям на хорошем уровне, точнее говоря, ближайшая
      граница требований отстоит на 3 сигмы от среднего значения (большинство компаний стремятся к тому, чтобы индекс
      Cpk был не менее 1).</p>
    <figure class="fig">
      <img src="../../img/lesson/cpk_pic1.png" alt="" style="width:40%" class="img">
    </figure>
    <p class="main_text">Если Cpk > 1, то процесс соответствует требованиям, даже не смотря на некоторые колебания.
      Ближайшая граница требования отстоит более чем на 3 сигмы, что говорит о хорошей эффективности процесса.</p>
    <figure class="fig">
      <img src="../../img/lesson/cpk_pic2.png" alt="" style="width:40%" class="img">
    </figure>
    <p class="main_text">Если Cpk < 1, то процесс скорее всего не соответствует требованиям на должном уровне,
      или точнее ближайшее граница требования отстоит менее чем на 3 сигмы.</p>
    <figure class="fig">
      <img src="../../img/lesson/cpk_pic3.png" alt="" style="width:40%" class="img">
    </figure>

      <div class="row">
        <a href="/lesson/3"><button class="btn btn-primary mt-1" type="submit">Пройти дальше</button></a>
      </div>
  </div>
  <% include ./../blocks/footer.ejs %>

</body>
</html>
