<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/task_lesson.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/profile.css">

  <script src="../../js/jquery.js"></script>
  <script src="../../js/profile.js"></script>

  <title>Уровень 2 | Урок <%= lessonNum %></title>
</head>
<body>

<% include ../blocks/header_user.ejs %>

  <div class="container-fluid lesson_num">
    <div class="container">
      <div class="level">Уровень 1</div>
      <div class="lesson">Урок <%= lessonNum %></div>
    </div>
  </div>

  <div class="container main-container">
    <h3 class="header">Индексы пригодности процесса</h3>
    <p class="main_text">Общеупотребительными индексами пригодности процесса являются индексы пригодности (Cp и Cpk), т.к.
      они достаточно полно отражают отношения технически возможных отклонений (размаха процесса) к ±3 сигма пределам от
      первоначальных спецификаций.</p>
    <p class="main_text">1. Находим размах R(i) для каждой выборки, где R(i) = максимальное значение - минимальное значение для i - ой выборки;</p>
    <p class="main_text">2. Вычисляем средний размах: $${RBAR} = {1 \over k} {\sum R(i)}$$</p>
    <p class="main_text">3. Вычисляем сигма $${\sigma_{процесса}} = {RBAR \over d(2)},$$ где d(2) можно найти по стандартным статистическим таблицам.</p>
    <p class="main_text"><b>Замечание: стандартное отклонение наблюдений не равно стандартному отклонению средних всех выборок,
      которое является результатом деления стандартного отклонения на квадратный корень из n (объем выборки).</b></p>
    <p class="main_text"><span class="underline">НГД, ВГД (нижняя и верхняя границы допуска).</span> Обычно технические условия задают некий диапазон
      допустимых значений. Разность между НГД и ВГД называется размахом допуска.</p>
    <h3 class="header">Формулы индексов пригодности</h3>
    <p class="main_text"><span class="underline">Потенциальная пригодность (Cp).</span> Это простейший и самый
      естественный показатель пригодности производственного процесса. Он определяется как отношение размаха допуска
      к размаху процесса; при использовании границ ±3 сигма данный показатель можно выразить в виде
      $${С_p} = {{ВГД-НГД} \over {6 * \sigma_{процесса}}},$$
    </p>
    <p class="main_text"><span class="underline">Поправка на нецентральность (K).</span> Мы можем скорректировать
      индекс Cp с учетом нецентральности распределения. А именно, мы можем вычислить:
      $${K} = {{|ЗаданныйЦентр - Среднее|} \over {0,5 * (ВГД-НГД)}},$$
    </p>
    <p class="main_text">Этот корректирующий множитель соответствует величине нецентральности (заданный центр спецификации
      минус среднее процесса) относительно ширины спецификации.</p>
    <p class="main_text"> Данное отношение выражает долю размаха кривой (относительно сигма) нормального распределения,
      попадающую в границы допуска (при условии, что среднее значение распределения является номинальным, то есть процесс
      центрирован по номиналу).</p>
    <p class="main_text"><span class="underline">Подтвержденное качество (Cpk). </span>Наконец, в случае нецентральности,
      мы можем уточнить значение Cp, вычислив:
      $${C_{pk}} = {1 - K * C_p}.$$
    </p>
    <p class="main_text">Если процесс идеально центрирован, то k равно нулю и Cpk равно Cp. Однако если процесс
      смещается oт своего номинального значения, k увеличивается и Cpk становится меньше Cp.</p>
    <p class="main_text">Высокий Cpk будет только в том случае, когда цель достигнута при минимальном отклонении от среднего.</p>
    <p class="main_text">Для понимания смысла индекса производительности рассмотрим еще один простой пример: у Вас есть гараж
      и машина, которую надо поставить внутрь гаража. Гараж определяет допустимые пределы, машина - результат процесса.
      Если машина только чуть-чуть меньше, чем гараж, то Вам лучше поставить ее ближе к правой стороне гаража, если Вы хотите
      потом из нее выйти. Если машина шире, чем гараж, то Вы можете попробовать поставить ее посередине за гаражом, тогда
      гараж не имеет смысла. Если машина намного меньше, чем гараж (процесс Шесть Сигма), Вы можете поставить ее точно
      посередине гаража, ближе к правой стороне или даже к левой - по вашему желанию. Если процесс с маленькой дисперсией,
      то Вы сможете поставить машину внутри гаража и этим удовлетворить требования клиентов. Cpk определяет отношение между
      размерами машины, размерами гаража и тем, насколько далеко от середины Вам надо ставить машину. Пусть результат
      процесса (машина) может расширяться перед попаданием в границы спецификаций (дверь гаража): </p>
    <ul class="main_text">
      <li>Cpk = 1/2 – Вы врезались в край двери;</li>
      <li>Cpk = 1 – Вы слегка поцарапали машину о край двери;</li>
      <li>Cpk = 2 – все в норме, даже если Ваша ширина возрастет чуть меньше, чем в 2 раза;</li>
      <li>Cpk = 3 – а теперь можете расширяться почти в 3 раза.</li>
    </ul>
      <div class="row">
        <a href="/lesson/5"><button class="btn btn-primary mt-1" type="submit">Пройти дальше</button></a>
        <a href="/lessons"><button class="btn btn-primary mt-1 ml-4 to-less" type="submit">К урокам</button></a>
      </div>
  </div>
  <% include ./../blocks/footer.ejs %>
  <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</body>
</html>
