<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/task_lesson.css">
  <link rel="stylesheet" href="../../css/profile.css">
  <link rel="stylesheet" href="../../css/style.css">

  <script src="../../js/jquery.js"></script>
  <script src="../../js/profile.js"></script>

  <title>Уроки</title>
</head>
<body>

<% include ../blocks/header_user.ejs %>

  <div class="container-fluid lesson_num">
    <div class="container">
      <div class="level">Доступные уроки</div>
    </div>
  </div>
  <div class="main_text">
    <ul>
      <li><a href="/lesson/1">Урок 1. <span class="less_name">Введение в программирование. Основные понятия</span></a></li>
      <li><a href="/lesson/2">Урок 2. <span class="less_name">Индексы пригодности процесса. Индекс Cp. Индекс Cpk</span></a></li>
      <li><a href="/lesson/3">Урок 3. <span class="less_name">Математические операции и константы в языке JavaScript</span></a></li>
      <li><a href="/lesson/4">Урок 4. <span class="less_name">Классификация индексов воспроизводимости. Формулы для расчета индексов</span></a></li>
      <li><a href="/lesson/5">Урок 5. <span class="less_name">Условия и циклы в языке JavaScript</span></a></li>
      <li><a href="/lesson/6">Урок 6. <span class="less_name">Массивы и объекты в языке JavaScript</span></a></li>
    </ul>
  </div>


<% include ./../blocks/footer.ejs %>

</body>
</html>
