<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">

  <link rel="stylesheet" href="../css/profile.css">
  <link rel="stylesheet" href="../css/style.css">

  <script src="../js/jquery.js"></script>
  <script src="../js/profile.js"></script>
  <title>Ошибка профиля</title>
</head>
<body>

  <div class="container-fluid welcome err">
    <div class="container">
      <div class="level">Ошибка входа в профиль</div>
    </div>
  </div>

  <div class="container main-container">
    <p>Логин или пароль, который Вы ввели, оказался неверным!</p>
    <div class="row">
      <button class="btn btn-primary mt-1 mx-1" type="submit">Попробовать еще раз</button>
    </div>
    <br/>
    <p>Но вы не грустите! Даже у не зарегистрированного пользователя есть возможность <a href="#">читать статьи</a> сайта.</p>
    <p>С более подробной информацией о возможностях сайта вы можете ознакомиться в разделе <a href="#">информация</a>.</p>
    <p>И также не забывайте, что Вы в любой момент можете <a href="#">зарегистрироваться</a>.</p>
  </div>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="../js/bootstrap.min.js"></script>

</body>
</html>
