<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../../css/bootstrap.min.css">
  <!-- для иконок соц сетей -->
  <!-- <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->

  <script src="../../lib/activity-calendar.js"></script>
  <script src="../../lib/activity-calendar.min.js"></script>

  <link rel="stylesheet" href="../../css/profile.css">
  <link rel="stylesheet" href="../../css/style.css">

  <script src="../../js/jquery.js"></script>
  <script src="../../js/profile.js"></script>
  <title>Профиль</title>
</head>
<body>
  <% include ./../blocks/header_user.ejs %>
  <div class="welcome">
    <div class="container">
      <div class="row">
        <div class="col-md"><p><b>Текущий уровень: </b><%= info.curr_level %></p></div>
        <div class="col-md"><a href="/lessons"><button class="btn btn-success w-100" type="submit"><img src="../../img/lesson_ico.png" alt=""> К урокам</button></a></div>
      </div>
      <div class="row">
        <div class="col-md"><p><b>Решено задач: </b><%= info.solved_tasks %></p></div>
        <div class="col-md"><a href="/tasks"><button class="btn btn-success w-100" type="submit"><img src="../../img/task_ico.png" alt=""> К задачам</button></a></div>
      </div>
      <div class="row">
        <div class="col-md"><p><b>Опубликовано статей: </b><%= info.publ_articles %></p></div>
        <div class="col-md"><a href="#" title="Страница со статьями появится позже"><button class="btn btn-success w-100" id="article_link" type="submit"><img src="../../img/article_ico.png" alt=""> К статьям</button></a></div>
      </div>
    </div>
  </div>
  <div class="progress_calendar">
    <h1>Следи за своим прогрессом</h1>
    <p>Чтобы приобрести новые навыки и не растатить уже полученные, нужно регулярно заниматься.<br>Следи за собственным прогрессом и старайся не пропускать занятия!</p>
    <div id="calendar-id"></div>
  </div>

  <div class="dop">
    <h2>Дополнительные возможности</h2>
    <p>Помимо основных возможностей системы – прохождения уроков и решения задач, у пользователя есть некоторые дополнительные возможности:</p>
    <p>В  <a href="../profile_settings">Настройках профиля</a> можно изменить свои личные данные: ФИО, номер группы, фото профиля, а также обновить логин или пароль</p>
    <p>В разделе <a href="#">Обратная связь</a> вы можете написать письмо администратору или преподавателю с какими-либо вопросами или пожеланиями</p>
  </div>

  <% include ./../blocks/footer.ejs %>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="../../js/bootstrap.min.js"></script>

  <script src="../../lib/activity-calendar.js"></script>
  <script src="../../lib/activity-calendar.min.js"></script>
  <script src = "../../js/calendar.js"></script>
</body>
</html>
