<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">

  <link rel="stylesheet" href="../../css/profile.css">
  <link rel="stylesheet" href="../../css/style.css">

  <script src="../../js/jquery.js"></script>
  <script src="../../js/profile.js"></script>
  <title>Настройки профиля</title>
</head>
<body>
  <% include ./../blocks/header_user.ejs %>
  <div class="welcome">
    <div class="container">
      <h1>Редактирование профиля</h1>
    </div>
  </div>

  <div class="container main-container">
    <h4>Ваше имя: <input type="text" name="name" value="Юлия"></h4>
    <h4>Фамилия: <input type="text" name="surname" value="Гульцева"></h4>
    <h4>Номер группы: <input type="number" name="group_num" value="454"></h4>

    <br/>

    <p class="lang">
    <span>Язык</span>
    <span class="langInput">
      <input type="radio" name="lang" checked="checked" value="ru"> Русский
      <input type="radio" name="lang" value="en"> Английский
    </span>
    </p>

    <br/>

    <p>
      <span><h4>Фото профиля</h4></span>
      <button type="button" name="button">Загрузить фото</button>
    </p>

    <br/>

    <h4>Изменение пароля</h4>
    <h6>Старый пароль <input type="password" name="oldPass" value=""></h6>
    <h6>Новый пароль <input type="password" name="newPass" value=""></h6>
    <h6>Новый пароль (ещё раз) <input type="password" name="newPass" value=""></h6>

    <br/>

    <h4>Изменение логина</h4>
    <h6>Текущий почтовый адрес <input type="email" name="oldEmail" value="juliaaugut96@gmail.com"></h6>
    <h6>Новая почта <input type="email" name="newEmail" value=""></h6>

    <div class="row">
      <button class="btn btn-primary mt-1 mx-1" id="save_settings" type="submit">Сохранить изменения</button>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="../../js/bootstrap.min.js"></script>

</body>
</html>
