<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/task_lesson.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/profile.css">

  <script src="../../js/jquery.js"></script>
  <script src="../../js/profile.js"></script>

  <script type="text/javascript" src="../../lib/codemirror.js"></script>
  <link rel="stylesheet" href="../../lib/codemirror.css">
  <script type="text/javascript" src="../../mode/javascript/javascript.js"></script>
  <title>Задача 3</title>
</head>
<body>

<% include ../blocks/header_user.ejs %>

  <div class="container-fluid task_num">
    <div class="container">
      <div class="level">Уровень 1</div>
      <div class="lesson">Урок 1</div>
      <div class="task">Задача <%= taskNum %></div>
    </div>
  </div>

  <div class="container main-container">
    <h3 class="header">Условие задачи: </h3>
    <p class="main_text">В этой задаче необходимо рассчитать индексы потенциальной пригодности и подтвержденного качества <b>Cp</b> и <b>Cpk</b>
      и записать их в соответствующие одноименные переменные.</p>
    <p class="main_text">Будем считать, что средние значения пленки по длине и ширине рулона уже даны, и обратиться к ним можно через
    переменные <b>avL</b> и <b>avW</b> соответственно.</p>
    <p class="main_text">Стандартное отклонение, равное 1.48 мкм, необходимо записать в переменную <b>sigma</b>.</p>
    <p class="main_text">Номинальная толщина пленки, равная 250 мкм, должна быть записана в переменной <b>nominThick</b>.</p>
    <p class="main_text">В переменную <b>VGD</b> нужно записать верхнюю границу допуска, равную 255 мкм, а в переменную
       <b>NGD</b> – значение нижней границы допуска, равное 245 мкм.</p>
    <p class="main_text">Для сохранения промежуточного значения расчета – поправки на нецентральность, используйте переменную <b>K</b>.</p>

    <p class="main_text">Также необходимо получить графическое отображение профиля по длине и ширине при нажатии кнопку
      "Построить графики", расположенную сразу под таблицей (доступно только после проверки кода).</p>
    <p class="main_text">Для этого необходимо задать значения данных графика, создав объект <b>traceWidth</b> для ширины и <b>traceLength</b> для длины.
      В свойстве <b>x</b> каждого из этих объектов должна храниться позиция по ширине или длине (в массиве <b>width_pos_arr</b> или <b>length_pos_arr</b> соответственно),
      в свойстве <b>y</b> – средняя толщина пленки, распределенная по ширине или длине (в массиве <b>width_arr</b> или <b>length_arr</b> соответственно),
      а в свойстве <b>type</b> – строка <b>"scatter"</b>, обозначающая тип графика. Указать названия условных обозначений графика можно с помощью
      свойства <b>name</b>, записав в него какую-то строку, например, "Средняя толщина плёнки".</p>
    <p class="main_text">Также не забудьте указать для графиков заголовки: для этого создайте объект <b>layoutW</b> для заголовка графика распределения толщины пленки по ширине
      и объект <b>layoutL</b> – для заголовка графика распределения толщины пленки по длине.</p>
    <p class="main_text">В единственном свойстве <b>title</b> каждого из этих объектов должна храниться строка, которая и будет заголовком графика.</p>

    <div class="row wow fadeIn tables-cpk">
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h3 class="tab-header">Средний профиль рулона по ширине</h3>
            <table class="table table-hover task-table">
              <thead>
                <tr>
                  <th scope="col">Позиция по ширине, мм</th>
                  <th scope="col">Средняя толщина, мкм</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td class="td-posW">0</td>
                    <td class="td-avW">253.45</td>
                  </tr>
                  <tr>
                    <td class="td-posW">3.2</td>
                    <td class="td-avW">248.81</td>
                  </tr>
                  <tr>
                    <td class="td-posW">6.4</td>
                    <td class="td-avW">252.76</td>
                  </tr>
                  <tr>
                    <td class="td-posW">9.6</td>
                    <td class="td-avW">252.31</td>
                  </tr>
                  <tr>
                    <td class="td-posW">12.8</td>
                    <td class="td-avW">254.27</td>
                  </tr>
                  <tr>
                    <td class="td-posW">16.0</td>
                    <td class="td-avW">253.44</td>
                  </tr>
                  <tr>
                    <td class="td-posW">19.2</td>
                    <td class="td-avW">251.12</td>
                  </tr>
                  <tr>
                    <td class="td-posW">22.4</td>
                    <td class="td-avW">247.61</td>
                  </tr>
                  <tr>
                    <td class="td-posW">25.6</td>
                    <td class="td-avW">244.19</td>
                  </tr>
                  <tr>
                    <td class="td-posW">28.8</td>
                    <td class="td-avW">248.05</td>
                  </tr>
                  <tr>
                    <td class="td-posW">32.0</td>
                    <td class="td-avW">251.12</td>
                  </tr>
                  <tr>
                    <td class="td-posW">35.2</td>
                    <td class="td-avW">247.61</td>
                  </tr>
                  <tr>
                    <td class="td-posW">38.4</td>
                    <td class="td-avW">249.22</td>
                  </tr>
                  <tr>
                    <td class="td-posW">41.6</td>
                    <td class="td-avW">250.15</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h3 class="tab-header">Средний профиль рулона по длине</h3>
            <table class="table table-hover task-table">
              <thead>
                <tr>
                  <th scope="col">Позиция по длине, мм</th>
                  <th scope="col">Средняя толщина, мкм</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td class="td-posL">0</td>
                    <td class="td-avL">246.34</td>
                  </tr>
                  <tr>
                    <td class="td-posL">3.2</td>
                    <td class="td-avL">252.21</td>
                  </tr>
                  <tr>
                    <td class="td-posL">6.4</td>
                    <td class="td-avL">249.99</td>
                  </tr>
                  <tr>
                    <td class="td-posL">9.6</td>
                    <td class="td-avL">252.31</td>
                  </tr>
                  <tr>
                    <td class="td-posL">12.8</td>
                    <td class="td-avL">255.27</td>
                  </tr>
                  <tr>
                    <td class="td-posL">16.0</td>
                    <td class="td-avL">252.44</td>
                  </tr>
                  <tr>
                    <td class="td-posL">19.2</td>
                    <td class="td-avL">247.12</td>
                  </tr>
                  <tr>
                    <td class="td-posL">22.4</td>
                    <td class="td-avL">251.12</td>
                  </tr>
                  <tr>
                    <td class="td-posL">25.6</td>
                    <td class="td-avL">244.19</td>
                  </tr>
                  <tr>
                    <td class="td-posL">28.8</td>
                    <td class="td-avL">252.05</td>
                  </tr>
                  <tr>
                    <td class="td-posL">32.0</td>
                    <td class="td-avL">247.61</td>
                  </tr>
                  <tr>
                    <td class="td-posL">35.2</td>
                    <td class="td-avL">251.61</td>
                  </tr>
                  <tr>
                    <td class="td-posL">38.4</td>
                    <td class="td-avL">249.19</td>
                  </tr>
                  <tr>
                    <td class="td-posL">42.6</td>
                    <td class="td-avL">248.05</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <button class="btn btn-primary mt-1 mb-4 mx-2 graph" type="submit">Построить графики</button>
    <p class="graph_text main_text"></p>

    <div class="wrapper">
      <div id="line-chart-width"></div>
      <br>
      <div id="line-chart-length"></div>
    </div>

    <h3 class="header">Решение:</h3>
    <div id="codeeditor"></div>
    <div class="row">
      <a href="#myResult" class="res_a"><button class="btn btn-primary mt-1 mx-1" id="check_btn" type="submit">Отправить</button></a>
      <button class="btn btn-primary mt-1 mx-2 again" type="submit">Решить еще раз</button>
      <button class="btn btn-primary mt-1 mx-2 next" type="submit">Пройти дальше</button>
    </div>
  </div>

  <div class="container task-container res-container" id="myResult">
    <h3 class="header">Результат решения: </h3>
    <p class="res_text main_text"></p>
    <a href="#more" class="more_a"><button class="btn btn-primary mb-3 more" type="button" name="button">Подробнее</button></a>
    <p class="more_text main_text" id="more"></p>
  </div>

<% include ./../blocks/footer.ejs %>
  <!-- Latest compiled and minified plotly.js JavaScript -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" src="../../js/check_tasks/check_task_3.js"></script>
</body>
</html>
