<nav class="navbar navbar-expand-md navbar-light fixed-top">
<!-- <div class="container"> -->
  <a class="navbar-brand" href="#">
    <img src="../img/logo.png" alt="JS">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" area-controls="navbarSupportedContent" area-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a href="#" class="nav-link">Главная</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Информация</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Статьи</a>
      </li>
    </ul>

    <form class="form-inline my-1 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a href="#" data-toggle="modal" data-target="#enterModal"><button class="btn btn-primary mt-1 mx-1" type="submit">Вход</button></a>
         </li>
         <li class="nav-item">
        <a href="#" data-toggle="modal" data-target="#registerModal"><button class="btn btn-primary mt-1 mx-1" type="submit">Регистрация</button></a>
         </li>
      </ul>
    </form>
  </div>
</nav>
