<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container-fluid">
    <a class="navbar-brand waves-effect" href="/">
      <img src="../../img/logo.png" alt="LearnJS">
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a href="/toolbar" class="nav-link waves-effect">Домой</a>
          </li>
          <li class="nav-item">
            <a href="/admin" class="nav-link waves-effect">Личные данные</a>
          </li>
          <li class="nav-item">
            <a href="/table_users" class="nav-link waves-effect">Пользователи</a>
          </li>
          <li class="nav-item">
            <a href="/lesson_plans" class="nav-link waves-effect">Задачи</a>
          </li>
        </ul>

        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item mr-2">
            <a href="/">
              <button class="exit-btn waves-effect">Выйти</button>
            </a>

          </li>
        </ul>

      </div>

    </div>
  </nav>

  <div class="sidebar-fixed position-fixed">
    <a href="#" class="logo-wrapper waves-effect">
      <img src="../../img/adm_tech.jpg" alt="" class="img-fluid">
    </a>
    <div class="list-group list-group-flush">
      <a href="/admin" class="list-group-item waves-effect adm-profile">
        <i class="fa fa-user mr-3"></i>Мой профиль
      </a>
      <a href="/toolbar" class="list-group-item waves-effect adm-toolbar">
        <i class="fa fa-pie-chart mr-3"></i>Панель инструментов
      </a>
      <a href="/table_users" class="list-group-item waves-effect adm-table-users">
        <i class="fa fa-table mr-3"></i>Таблицы пользователей
      </a>
      <a href="/lesson_plans" class="list-group-item waves-effect adm-less-plans">
        <i class="fa fa-map mr-3"></i>Планы уроков
      </a>
    </div>
  </div>
</header>
